/* shared style  */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 30px 16px 32px;
}
/* nav related styles  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
/* header related styles  */
.header{
    /* background-color: #FFF8F3; */
    background-color: #a8d9e6;
}
.banner{
    padding: 30px 50px 30px 150px;
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
}