/* shared style  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 30px 16px 32px;
    font-weight: 700;
}
/* nav related styles  */
nav{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
/* header related styles  */
.header{
    background-color: #FFF8F3;
    /* background-color: #a8d9e6; */
    background-image: url(../images/header_bg.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 100px 50px 0px 250px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}
.profile-pic{
    width: 300px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.banner-welcome{
    font-size: 25px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    margin-top: 0;
    font-size: 55px;
    font-weight: 700;
}
.banner-para{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cv{
    color:#FFF8F3;
    margin-right: 10px;
}
.contact-btn{
    color: #FD6E0A;
    background-color: white;
    border: 2px solid #FD6E0A;
} 
.banner-content{
    max-width: 500px;
    padding-bottom: 100px;
}
/* main section styles  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin: 130px 150px;
    padding: 90px;
    border-radius: 10px;
    background-color: #FFF8F3;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
}
.about-description{
    padding-top: 30px;
    color: #474747;
    padding-bottom: 20px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-title{
    text-align: center;
    color: #474747;
}
.info-description{
    font-weight: 700;
    font-size: 15px;
}
.do-section-description{
    padding: 20px 150px;
}
.skills-container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
